[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:alimansoori/api-gateway.git
	branch = main
[submodule "services/payments-service"]
	path = services/payments-service
	url = git@github.com:alimansoori/payments-service.git
	branch = main
[submodule "services/users-service"]
	path = services/users-service
	url = git@github.com:alimansoori/users-service.git
	branch = main
[submodule "services/next-ui-service"]
	path = services/next-ui-service
	url = git@github.com:alimansoori/next-ui-service.git
	branch = main